*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  cursor: url("assets/cursor4.png") 16 16, pointer;
}
body{
  height: 100vh;
  width: 100vw;
  margin: 2px;
  padding: 0;
  /*background-image: url("court.png");  The image used */
  background-color: white;
  transition: 600ms all ease;

}

h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  color: #EE1D23;
}

p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: #EE1D23;
}

a{
  text-decoration: underline;
}

#cursorPerfil:hover{
  cursor: url("assets/berni.png") 16 16, pointer;
}


/*CANVAS//////////////////////*/

#blue{
  outline:4px solid #EE1D23;
  outline-offset: 0px;
  transition: 1000ms top ease;
  height: calc(100% - 4px - 60px);

}

/*MENU//////////////////////*/

#superior{
  position: fixed;
  z-index: 3;
  bottom:68px;
  left: 4px;
  width: calc(100vw - 8px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: 1000ms all ease;
  height: calc(100% - 12px - 60px);
}

#menuContainerA{
  display: flex;
  flex-direction: row;
}

#masinfo{
  display: block;
  position: fixed;
  z-index: 3;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 8px);
}

.menuBox{
  --fondo:white;
  display: flex;
  height:60px;
  width: 100%;
  padding: 0px;
  outline:4px solid #EE1D23;
  outline-offset: 0px;
  background-color: var(--fondo);
  transition: 300ms all ease;
}

.menuBox:hover{
  transition: none;
  --fondo:#EE1D23;
}
.menuBox:hover > .tituloSeccion{
  color: white;
}

.tituloSeccion{
  user-select: none;
  position: relative;
  display: block;
  top: 12px;
  left: 16px;
  font-weight: 400;
  font-size: 26px;
  color: #EE1D23;
}

/*SPINNER//////////////////////*/

#spinner{
  position: fixed;
  width: 200px;
  transform-origin: 100px 100px;
  animation: spin 10s linear infinite;
  animation-delay: 0.8s;
  -webkit-appearance: none;
  user-select: none;
  top:60px;
  right:50px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
  cursor: url("assets/cursor2p.png"),move;
}

#spinner:active{
  cursor: url("assets/cursor2c.png") ,move;
}

@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*BANNERS//////////////////////*/

.banner{
  position:fixed;
  height: 100vh;
  width: 42px;
  top:0;
  background-image: url(assets/banner3.png);
  background-color:#EE1D23;
  background-size: cover;
  background-position: -7px 0px;
  z-index: -1;
  -webkit-animation:atras 60s infinite;
	-moz-animation:atras 60s infinite;
	-o-animation:atras 60s infinite;
	animation:atras 60s infinite;
}
#b1{
  left:0;
}
#b2{
  right:0;
}
@-webkit-keyframes atras {0% {background-position:-7px 0px;}100% {background-position:-7px 3000px;}}
@keyframes atras {0% {background-position:-7px 0px;}100% {background-position:-7px 3000px;}}


/*FRAMES//////////////////////*/

.cuadro{
  position: fixed;
  top: 68px;
  left: 42px;
  height: calc(100% - 140px);
  width: calc(100% - 84px);
  border: none;
  outline: none;
  overflow: auto;
}

#productosCuadro{
  display: none;
  animation-delay: 3s;
}

#ilustracionesCuadro{
  display: none;
  animation-delay: 3s;
  background-color: white;
}

#contactoCuadro{
  position: fixed;
  animation-delay: 3s;
  top:60px;
  bottom:60px;
  left: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

#tituloContacto{
  color: white;
  font-size: 112px;
  margin-top: 50px;
  margin-left: 80px;
}

#cuadroTextoContacto{
  max-width: 800px;
  margin-top: 50px;
  margin-left: 140px;
}

#textoContacto{
  color: white;
  font-size: 24px;
  line-height: 40px;
}
