*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  cursor: url("../assets/cursor4.png") 16 16, pointer;
}
body{
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: #EE1D23;
}

#drefLeft{
  float: left;
  transform: translate(-50%);
  width: 50%;
  left: 0;
  height: 100%;
  overflow-y: auto;
}
#drefLeft::-webkit-scrollbar {
    display: none;
}
.left{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#drefRight{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  overflow-y: auto;
}
#drefRight::-webkit-scrollbar {
    display: none;
}
.right{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.oneProduct{
  height: 520px;
  width: 520px;
  padding: 20px;
  margin: 40px;
  outline:4px solid #EE1D23;
  background-color: white;
  transition: 300ms all ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}
.oneProduct:hover{
  background-size: 380px;
}
